<div class="ebook-card">
  <img
    ngSrc="/images/Book1.png"
    alt="{{ book.title }}"
    class="ebook-card__image"
  />
  <div class="ebook-card__details">
    <h3 class="ebook-card__title">{{ book.title }}</h3>
    <p class="ebook-card__author">{{ book.author }}</p>
    <p class="ebook-card__description">{{ book.description }}</p>
    <div class="ebook-card__rating">
      <span
        *ngFor="let star of [].constructor(5); let i = index"
        [class.filled]="i < book.rating"
        >★</span
      >
    </div>
    <p class="ebook-card__price">{{ book.price }}</p>
  </div>
</div>

<div class="book-card">
  <img
    [src]="'assets/images/' + book.image"
    alt="{{ book.title }}"
    class="book-image"
  />
  <h3 class="book-title">{{ book.title }}</h3>
  <p class="book-reviews">{{ book.reviews }} reviews</p>
  <div class="book-rating">
    <i
      *ngFor="let star of [1, 2, 3, 4, 5]"
      class="pi"
      [ngClass]="star <= book.rating ? 'pi-star' : 'pi-star-o'"
    ></i>
  </div>
  <button class="view-details">View details</button>
</div>
