<!-- messages.component.html -->
<div class="messages-sidebar">
  <!-- Header -->
  <div class="header">
    <span class="title">All messages</span>
    <div class="arrow">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 12L4 8L8 4" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>

  <!-- Ligne séparatrice -->
  <div class="divider"></div>

  <!-- Barre de recherche -->
  <div class="search-bar">
    <div class="search-content">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z" stroke="#8E8E93" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M14 14L11.1 11.1" stroke="#8E8E93" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <input type="text" placeholder="Search">
    </div>
  </div>

  <!-- Liste des messages -->
  <div class="message-list">
    <div
      *ngFor="let message of messages"
      class="message-item"
      [ngClass]="{'active': message.isActive}"
      (click)="selectMessage(message.id)"
    >
      <div class="avatar"></div>
      <div class="message-text">
        <div class="message-header">
          <span class="username">{{ message.username }}</span>
          <span class="date">{{ message.date }}</span>
        </div>
        <span class="text">{{ message.text }}</span>
      </div>
      <div class="message-arrow">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 12L10 8L6 4" stroke="#3C3C43" stroke-opacity="0.3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
  </div>
</div>
