<!-- chat.component.html -->
<div class="chat-container">
  <div class="sidebar-container" [class.collapsed]="isCollapsed">
    <app-message
      (messageSelected)="onMessageSelected($event)"
      (searchQueryChanged)="onSearchQueryChanged($event)"
    >
    </app-message>
  </div>

  <div class="main-content" [class.expanded]="isCollapsed">
    <div class="toggle-button" (click)="toggleSidebar()">
      <i
        class="pi"
        [ngClass]="isCollapsed ? 'pi-angle-right' : 'pi-angle-left'"
      ></i>
    </div>
    <app-discussion
      [selectedMessageId]="selectedMessageId"
      [searchQuery]="searchQuery"
    >
    </app-discussion>
  </div>
</div>
