/* fiction-books.component.scss */
.article-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Georgia', serif;
  color: #333;
}

.article-header {
  margin-bottom: 60px;
}

.article-title {
  font-size: 42px;
  color: #8B735A;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.article-metadata {
  margin-bottom: 20px;
}

.article-date {
  color: #888;
  font-size: 14px;
}

.article-text {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 30px;
  color: #555;
}

.article-tags {
  margin-bottom: 30px;
}

.tag {
  display: inline-block;
  padding: 4px 12px;
  background-color: #f5f5f5;
  border-radius: 3px;
  font-size: 14px;
  color: #666;
}

.article-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 30px 0;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-author {
  font-size: 16px;
  color: #333;
}

.by-text {
  font-style: italic;
  margin-right: 5px;
}

.author-name {
  font-weight: 500;
}

.blog-creation-date {
  font-size: 14px;
  color: #888;
  font-style: italic;
}
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espace entre les boutons */
  margin-top: 20px;
}

.update-button {
  background-color: #003366; /* Bleu foncé */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #002244; /* Encore plus foncé au hover */
}

.delete-button {
  background-color: #cc3333; /* Rougeâtre */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #b22222; /* Rouge foncé au hover */
}
