<p-toast position="top-right"></p-toast>
<p-scrolltop target="parent" [threshold]="100" icon="pi pi-arrow-up" [buttonProps]="{ severity: 'primary', raised: true, rounded: true }" />
<div class="app-container" [@fadeScaleAnimation]>
  <div class="layout-with-sidemenu">
    <app-side-menu class="sidemenu"></app-side-menu>
    <div class="main-content">
      <main [@fadeAnimation]="getRouteAnimationState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </main>
    </div>
  </div>
</div>
