.app-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100vw;
  position: absolute;
  background-color: #f8f9fa;
}

.content-container {
  flex: 1;
  display: flex;
  width: 100%;
}

.layout-with-sidemenu {
  display: flex;
  flex: 1;
  width: 100%;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

/* Ensure loading component is visible above all content */
::ng-deep app-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* Menubar styling */
:host ::ng-deep .p-menubar {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
}

/* Navbar styling for small screens */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
}

.navbar .menu-icon {
  font-size: 24px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .layout-with-sidemenu {
    flex-direction: row;
  }
}

/* Adjust layout for small screens */
@media (max-width: 768px) {
  .layout-with-sidemenu {
    flex-direction: row;
  }

  .main-content {
    margin-top: 0;
  }
}

/* Adjust layout for large screens */
@media (min-width: 769px) {
  .layout-with-sidemenu {
    flex-direction: row;
  }
}
