<div class="notifications-container">
  <div class="notifications-list gap-5 flex-column flex">
    <h2 *ngIf="storedNotifications.length > 0 || realTimeNotifications.length > 0 ">Notifications</h2>
    <app-notification-element
      *ngFor="let notification of realTimeNotifications; let i = index"
      [isRealTime]="true"
      [notification]="notification"
      (close)="removeNotification(i, true)"

    ></app-notification-element>
    <app-notification-element
      *ngFor="let notification of storedNotifications; let i = index"
      [isRealTime]="false"
      [notification]="notification"
      (close)="removeNotification(i, false)"

    ></app-notification-element>
    <div class="no-notifications" *ngIf="realTimeNotifications.length === 0 && storedNotifications.length === 0">
      No notifications yet.
    </div>
  </div>
</div>
