<div class="book-details-container">
  <app-back-arrow></app-back-arrow>

  <div class="book-details" [@fadeInOut]>
    <div class="book-cover">
      <img [src]="coverImage" alt="Book Cover" class="cover-image"/>
    </div>

    <div class="book-info">
      <div class="header-section">
        <div class="genre" [@fadeInOut]>{{ genre }}</div>
        <h1 class="title" [@fadeInOut]>{{ title }}</h1>
        <h2 class="author" [@fadeInOut]>By {{ author }}</h2>
      </div>

      <div class="rating-section">
        <div class="rating" [@fadeInOut]>
          <span *ngFor="let star of [].constructor(5); let i = index">
            <img
              [@starRating]="starStates[i]"
              [src]="
                i < rating ? '/images/star-filed.png' : '/images/star-empty.png'
              "
              [alt]="i < rating ? 'Filled Star' : 'Empty Star'"
            />
          </span>
          <span class="votes">{{ votes }} votes</span>
        </div>
      </div>

      <div class="details-section" [@fadeInOut]>
        <div class="price">PRICE: <span class="price-value">20D</span></div>
        <div class="pages">
          Number of pages: <span class="page-count">{{ pages }}</span>
        </div>
      </div>

      <div class="description-section" [@fadeInOut]>
        <p class="description">{{ description }}</p>
      </div>

      <div class="interaction-section">
        <div class="favorites">
          <span
            class="heart"
            (click)="toggleFavorite()"
            [@scaleHeart]="isFavorite"
          >
            {{ isFavorite ? "❤️" : "🤍" }}
          </span>
          <a href="#" [routerLink]="['..','favorite']" class="view-favorites">View
            Favorites</a>
        </div>

        <div class="review" [@fadeInOut]>
          <p class="review-title">How is the book?</p>
          <div class="review-stars">
            <span
              *ngFor="let star of [].constructor(5); let i = index"
              (click)="setUserRating(i + 1)"
              [@starRating]="starStates[i]"
            >
              <img
                [src]="
                  i < userRating
                    ? '/images/star-filed.png'
                    : '/images/star-empty.png'
                "
                alt="Star"
              />
            </span>
          </div>
        </div>

        <textarea
          class="comment"
          placeholder="Write a comment"
          [@fadeInOut]
        ></textarea>

        <button class="cta" [@fadeInOut]>Offer a Price</button>
      </div>
    </div>
  </div>
</div>
