<button class="toggle-menu-btn" (click)="toggleMenu()">
  <i class="pi pi-bars"></i>
</button>
<p-drawer [(visible)]="isMenuOpen" position="left" [modal]="true" [style]="{width: '250px'}">
    <!-- Top section -->
    <div class="top-section">
      <!-- Logo -->
      <div class="logo">
        <div class="logo-icon">
          <div class="logo-rectangle"></div>
          <div class="logo-polygon"></div>
        </div>
        <span class="logo-text">Ebooks</span>
      </div>

      <!-- Top Items -->
      <div class="top-items">
        <div *ngFor="let item of topMenuItems" class="nav-item">
          <div class="content">
            <i [class]="item.icon"></i>
            <span class="label">{{ item.label }}</span>
            <i *ngIf="item.hasChildren" class="angle-icon pi pi-angle-down"></i>
            <div *ngIf="item.badge" class="badge">{{ item.badge }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="bottom-section">
      <!-- Bottom Items -->
      <div class="bottom-items">
        <div *ngFor="let item of bottomMenuItems" class="nav-item">
          <div class="content">
            <i [class]="item.icon"></i>
            <span class="label">{{ item.label }}</span>
            <i *ngIf="item.hasChildren" class="angle-icon pi pi-angle-down"></i>
            <div *ngIf="item.badge" class="badge">{{ item.badge }}</div>
          </div>
        </div>
      </div>

      <!-- Profile -->
      <div class="profile">
        <div class="profile-info">
          <img class="profile-picture" width="40" height="40" [ngSrc]="'/images/person.png'" alt="Profile Picture" />
          <div class="profile-details">
            <div class="profile-name">{{ userProfile.name }}</div>
            <div class="profile-email">{{ userProfile.email }}</div>
          </div>
        </div>
      </div>
    </div>
</p-drawer>

<div class="overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
